<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title> 
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block javascripts %}
      <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
  </head>
  <body class="flex flex-col h-screen">

  <header class="bg-dark-orange">
  
    <nav class="grid grid-cols-8 auto-rows-min p-2 lg:flex lg:justify-around lg:pb-0 text-dark-red">
      
      <div class="col-start-1 col-end-9 m-auto lg:pb-2">
        <img class="h-20 w-auto" src="/img/logo1.png" alt="Logo Flamboyant Créa"/>
      </div>

      <div class="col-start-1 m-auto">
        <input
          id="navbar_menu"
          class="h-6 w-6 lg:hidden"
          type="image"
          src="/img/menu.png"
          alt="menu"
        />
      </div>

      <div
        id="navbar_menu_list"
        class="hidden col-start-1 col-end-5 lg:flex flex-col lg:flex-row lg:items-end font-display font-semibold text-xl lg:text-2xl"
      >
        <a
          href="{{ path('index') }}"
          class="hover:text-light-beige lg:p-3 lg:hover:bg-dark-red lg:hover:text-light-beige">
            Accueil
        </a>
        <a
          href="{{ path('category', {'category_name': 'couture'}) }}"
          class="hover:text-light-beige lg:p-3 lg:hover:bg-dark-red lg:hover:text-light-beige">
            Couture
        </a>
        <a
          href="{{ path('category', {'category_name': 'peinture'}) }}"
          class="hover:text-light-beige lg:p-3 lg:hover:bg-dark-red lg:hover:text-light-beige">
            Peinture
        </a>
        <a
          href="{{ path('category', {'category_name': 'tricot'}) }}"
          class="hover:text-light-beige lg:p-3 lg:hover:bg-dark-red lg:hover:text-light-beige">
            Tricot & Broderie
        </a>
      </div>

      <div class="col-start-7 m-auto">
        <input
          id="navbar_compte"
          class="h-6 w-6 mr-4 lg:hidden"
          type="image"
          src="/img/compte.png"
          alt="Compte"
        />
      </div>
      <div 
        id="navbar_compte_list"
        class="hidden lg:flex col-start-5 col-end-8 items-end font-display font-semibold text-xl"
      >
        <img
          class="hidden lg:flex h-6 w-6 mb-4"
          src="/img/compte.png"
          alt="Compte"
        />
        {% if not app.user %}
          <a
            href="{{path('security_login') }}"
            class="hover:text-light-beige lg:p-3 lg:hover:text-light-beige"
          >
            Se connecter
          </a>
        {% else %}
          <div class="flex-row lg:flex lg:flex-col">
            <a
              href="{{path('security_account') }}"
              class="hover:text-light-beige lg:hover:text-light-beige"
            >
              Mon compte
            </a>
            <a
              href="{{path('security_logout') }}"
              class="hover:text-light-beige lg:hover:text-light-beige"
            >
              Se déconnecter
            </a>
          </div>
        {% endif %}
      </div>
      
      <div class="col-start-8 lg:flex lg:items-end lg:ml-8">
        <a href="{{path('cart_index') }}" id="navbar_panier">
        <img       
            class="h-6 w-6  lg:mb-4"
            src="/img/panier.png"
            alt="Panier"
          />
        </a>
        <a
          href="{{path('cart_index') }}"
          class="hidden lg:flex p-3 font-display font-semibold text-xl hover:text-light-beige lg:hover:text-light-beige"
        >
          Mon panier
        </a>

      </div>
       
    </nav>

  </header>

  <main class="flex-grow">
    {% block body %}{% endblock %}
  </main>

  <footer class="grid grid-cols-5 leading-loose bg-dark-blue text-dark-red font-body font-semibold text-xs lg:text-sm bfixed p-2 lg:pl-10">
    
    <div class="col-start-1 col-end-3 lg:text-base">
      <h1 class="font-display font-bold text-lg lg:text-2xl">Service client</h1>
      <p>02 40 88 88 88</p>
      <p>de 9h00 à 17h00</p>
      <p>du lundi au samedi</p>
    </div>

    <div class="col-start-3 col-end-6 flex flex-col lg:grid lg:grid-cols-2 lg:pt-2 lg:text-base">
      <div class="grid grid-rows-2">
        <a href="{{path('contact') }}" class="pt-1 no-underline hover:underline">Contactez-nous</a>
        <a href="#" class="pt-1 no-underline hover:underline">Mentions légales</a>
      </div>
      <div class="grid grid-rows-2">
        <a href="#" class="pt-1 no-underline hover:underline">Conditions Générales de Vente</a>
        <a href="#" class="pt-1 no-underline hover:underline">Données personnelles</a>
      </div>
    </div>

  </footer>

  </body>
</html>