{% extends 'base.html.twig' %}

{% block title %} 
  Commandes
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}

   

    
<div class="flex items-center justify-center font-body m-8">
  <div class="w-full max-w-md lg:max-w-3xl bg-white shadow-lg rounded px-6 lg:px-12 pt-6 pb-8 mb-4">
    <div class="text-dark-orange text-xl font-bold flex justify-center py-2 mb-4 lg:mb-8 text-center">
        Mes commandes
    </div>
      
    {% for order in orders %}
    <table class="w-full font-body lg:text-base mb-10">
    <div class="font-bold lg:mb-2 text-dark-orange">N° de commande : {{ order.id }}</div>
      <thead class="border-b-2 text-right text-base text-dark-blue">
        <tr class="lg:h-10">
          <th></th>
          <th class="text-left">Produit</th>
          <th class="w-20">Prix</th>
          <th class="w-20">Total</th>
          <th></th>
        </tr>
      </thead>
      {% for orderProduit in order.hasProduits %}
        <tbody class="align-text-top border-b-2 text-right">
            <tr class="leading-tight lg:leading-10">
              <td>{{ orderProduit.quantite }}</td>
              <td class="text-left">x {{ orderProduit.produit.nom }}</td>
              <td>{{ orderProduit.produit.prixUnitaire|number_format(2) }} €</td>
              <td>{{ orderProduit.getTotal|number_format(2) }} €</td>
            </tr>
        </tbody>
      {% endfor %}
      <tfoot class="text-right">
          <tr class="h-12 text-dark-orange font-bold text-base">
            <td></td>
            <td></td>
            <td>Total :</td>
            <td> {{ order.getTotal|number_format(2) }} €</td>
            <td></td>
          </tr>
        </tfoot>
    </table>
    {% endfor %}

  </div>
</div>
{% endblock %}
